<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>City of Meridian</title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

<link href="https://fonts.googleapis.com/css?family=Quicksand|Qwigley" rel="stylesheet">
<body>
 <!--  <div class="top-bar-wrap hidden-xs">
    <div class="container">
        <div class="top-bar">
            <div class="pull-left">
                <a href="#">Support@designmylife.com</a>
            </div>
            <div class="pull-right">
                <ul class="list-inline social-1">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> --><!--top bar wrap end-->
<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class='navbar-brand'>
                <a href="index.html"> Meridian, Texas<span>Top of the Hill Country</span></a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Visit Meridian</a></li>
                <li class="active dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">City<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Government</a></li>
                        <li><a href="#">Services</a></li>
                    </ul>
                </li><!--.dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">Community<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/calendar">Community Calendar</a></li>
                        <li><a href="#">Civic Organizations</a></li>
                    </ul>
                </li><!--.dropdown-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Economic Development<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="side-nav.html">Side Navigation</a></li>
                        <li><a href="blank-page.html">Blank Page</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="pricing.html">Our Pricing</a></li>
                        <li><a href="faq.html">FAQS</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login-register.html">Login / Register</a></li>
                        <li><a href="error.html">Error - 404</a></li>
                    </ul>
                </li><!--.dropdown-->
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">Features <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="element.html">Elements</a></li>
                        <li><a href="home-soon.html">Coming Soon</a></li>
                    </ul>
                </li> --><!--.dropdown-->
                <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu animated fadeInUp">
                        <li id="dropdownForm">
                            <div class="dropdown-form">
                                <form class=" form-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme-bg" type="button">Go!</button>
                                        </span>
                                    </div><!--input group-->
                                </form><!--form-->
                            </div><!--.dropdown form-->
                        </li><!--.drop form search-->
                    </ul><!--.drop menu-->
                </li><!--nav search form-->
            </ul><!--navbar-right for navbar-left replace class with navbar-left-->
        </div><!--/.nav-collapse -->
    </div><!--.container-->
  </div><!--.navbar-default-->
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
